APP_ENV=debug
SERVICE_HOST=127.0.0.1
SERVICE_PORT=8000

PROVIDER_NAME=local
PROVIDER_TIMEOUT_SECONDS=30
PROVIDER_API_KEY=

MICROPHONE_BASE_URL=http://127.0.0.1:8000
MICROPHONE_STREAM_ENDPOINT=/stream
MICROPHONE_START_ENDPOINT=/start
MICROPHONE_STOP_ENDPOINT=/stop

STT_BASE_URL=http://127.0.0.1:8001
STT_STREAM_ENDPOINT=/process/stream
STT_BATCH_ENDPOINT=/process/batch

TTS_BASE_URL=http://127.0.0.1:8002
TTS_SET_STREAM_ENDPOINT=/process/stream/set
TTS_STREAM_ENDPOINT=/process/stream/get

SPEAKER_BASE_URL=http://127.0.0.1:8003
SPEAKER_STREAM_ENDPOINT=/play/stream

STARTUP_PREFLIGHT_ENABLED=true
STARTUP_PREFLIGHT_TIMEOUT_SECONDS=60
MICROSERVICE_READY_POLL_INTERVAL_SECONDS=2
STREAM_PROBE_TIMEOUT_SECONDS=10
STARTUP_PREFLIGHT_MAX_TEXT_SEGMENTS=1
STARTUP_INTERNAL_PIPELINE_ENABLED=true
STARTUP_INTERNAL_PIPELINE_MAX_TEXT_SEGMENTS=0
STARTUP_INTERNAL_PIPELINE_RESTART_DELAY_SECONDS=5
